<table id="customers">
  <thead>
    <tr>
      <th>Transaction Hash</th>
      <th>Timestamp</th>
      <th>Status</th>
      <th>Disclosing Party</th>
      <th>Receiving Party</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tx of txs">
      <td>{{ tx.TxId }}</td>
      <td>{{ tx.Timestamp | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
      <td>{{ tx.Value.status }}</td>
      <td>{{ tx.Value.disclosingparty }}</td>
      <td>{{ tx.Value.receivingparty }}</td>
    </tr>
  </tbody>
</table>

<div class="loader" *ngIf="showSpinner"></div>
<p *ngIf="!showSpinner && !txs.length > 0">No Transactions found.</p>